@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Maitree&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Maitree, sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-family: "Libre Franklin", sans-serif;
    letter-spacing: 3px;
    color: black;
}

#name {
    float: left;
    margin: 3%;
}

/* navigation menu */

#navbar {
    font-family: "Libre Franklin", sans-serif;
    font-size: 115%;
    letter-spacing: 3px;
}

#navbar, #name {
    line-height: 75px;
}

#navbar li {
    float: right;
    list-style-type: none;
    padding-top: 3%;
    margin-right: 3%;
}

#navbar a {
    text-decoration: none;
    color: black;
}

#navbar a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */

#hero-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-position: center center;
    max-height: 1200px;
    background-repeat: no-repeat;
}

/* Home page: our story */

#story-left {
    width: 45%;
    padding: 50px;
}

#story-right {
    width: 45%;
    padding: 50px;
    position: relative;
    left: 45%;
}

/* footer */

footer {
    height: 200px;
    padding: 3%;
    bottom: 0;
    border-top: 1px solid black;
}

#footer-contact {
    width: 33%;
    float: left;
    list-style-type: none;
}

#footer-hours {
    width: 33%;
    list-style-type: none;
    display: inline-block;
}

#footer-follow {
    width: 33%;
    display: inline-block;
}

#footer-follow li, #footer-hours li, #footer-contact li {
    list-style-type: none;
    text-align: center;
}

#footer-follow p, #footer-hours p, #footer-contact p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 2%;
}

/* food and drinks menus */
#food-menu, #drinks-menu {
    border: 1px solid black;
}

th, td {
    margin-bottom: 15px;
}

th {
    padding-top: 18px;
}

table {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

/* Booking form */

.container {
    border: 1px solid black;
    background-color: yellow;
    padding: 3%;
    display: block;
    box-sizing: border-box;
}