@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Maitree&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Maitree, sans-serif;
    font-weight: 400;
}

h1,
h2 {
    font-family: "Libre Franklin", sans-serif;
    letter-spacing: 3px;
    color: #000000;
}

.name {
    float: left;
    padding: 0.5%;
    margin-left: 2%;
}

/* navigation menu */

.navbar {
    font-family: "Libre Franklin", sans-serif;
    font-size: 115%;
    letter-spacing: 2px;
}

.navbar,
.name {
    line-height: 75px;
}

.navbar li {
    float: right;
    list-style-type: none;
    padding-top: 0.5%;
    margin-right: 2%;
}

.navbar a {
    text-decoration: none;
    color: #000000;
}

.navbar a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image */

.hero-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-position: center center;
    max-height: 1200px;
    background-repeat: no-repeat;
}

/* Home page: our story */

.story-left {
    width: 45%;
}

.story-right {
    width: 45%;
    position: relative;
    left: 45%;
}

.story-left,
.video1 {
    display: inline-block;
    padding: 3%;
}

.story-right,
.video2 {
    display: inline-block;
    padding: 3%;
}

.video2 {
    position: relative;
    right: 50%;
}


/* footer */

footer {
    height: 120px;
    bottom: 0;
    border-top: 1px solid black;
}

.footer-contact {
    width: 33%;
    float: left;
    list-style-type: none;
    padding-bottom: 1%;
}

.footer-hours {
    width: 33%;
    list-style-type: none;
    display: inline-block;
    padding-bottom: 1%;
}

.footer-follow {
    width: 33%;
    display: inline-block;
    padding-bottom: 1%;
}

.footer-follow li,
.footer-hours li,
.footer-contact li {
    list-style-type: none;
    text-align: center;
}

.footer-follow p,
.footer-hours p,
.footer-contact p {
    font-size: 25px;
    text-align: center;
    padding-bottom: 1.5%;
    padding-top: 1%;
}

/* food and drinks menus */

.food-menu,
.drinks-menu {
    border: 1px solid black;
    width: 35%;
}

th {
    padding-top: 8%;
}

table {
    padding-left: 3%;
    padding-right: 3%;
    margin: 0% auto;
    padding-bottom: 3%;
    padding-top: 1%;
}

.ilcibo,
.bevande {
    margin: 2%;
}

/* Booking form */

input {
    width: 100%;
    padding: 1%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
}

.bookingform {
    width: 75%;
    height: auto;
    padding: 3%;
    background-color: #d0ad8091;
    position: relative;
    left: 8%;
    margin: 2%;
}

.radio-button {
    vertical-align: baseline;
    width: auto;
    margin: 1%;
}

.messagebox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
}

label,
.bookingtime {
    font-family: "Libre Franklin", sans-serif;
    font-size: 18px;
    color: #000000;
}

.bookingtitle {
    font-family: "Libre Franklin", sans-serif;
    padding-bottom: 2%;
}

.adultchildren {
    width: 10%;
}

.submitbutton {
    width: 10%;
}

/* Booking confirmation redirect page: style for the text on top of the hero image */

.confirmationtext h2,
.confirmationtext h3 {
    padding: 2%;
}

.confirmationtext {
    font-size: 100%;
    font-family: "Libre Franklin", sans-serif;
    color: #000000;
    width: 45%;
    height: auto;
    background-color: rgba(246, 241, 241, 0.7);
    bottom: 60%;
    right: 25%;
    position: absolute;
    border-radius: 25px;
}

/* Media queries to maintain good site navigation on smaller screens*/

@media screen and (max-width: 1300px) {
    .story-left {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }

    .story-right {
        width: 75%;
        height: auto;
        margin: 0 auto;
        position: relative;
        left: 0%;
    }

    .video2, .video1 {
        position: inherit;
    }
}