@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Maitree&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Maitree, sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Libre Franklin", sans-serif;
}